{% extends 'authentication/base.html' %} {% block content %} {% load static %}
{% for message in messages%}
<div
  class="alert alert-warning alert-dismissible fade show"
  role="alert"
  style="margin: 0"
>
  <strong>{{message}}</strong> 
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>

{% endfor %} {% if user.is_authenticated%} {% comment %}
<h3>hello {{name}}</h3>
<h4>You're successfully logged in</h4>
{% endcomment %}
<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
  rel="stylesheet"
/>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

<div class="prof-container">
  <div class="sidenav" id="myPref">
    <div class="dash-logo">
      <a href="https://www.abhyudayiitb.org/"
        ><img src="{% static 'images/homepage/logo.png' %}" alt=""
      /></a>
    </div>
    <div class="nav-tab active">
      <i class="fa fa-home" style="margin-right: 3vh"></i>Home
    </div>
    <div class="nav-tab">
      <a href="/resume/upload" style="text-decoration: none; color: white ;"
        ><i class="fa fa-file" style="margin-right: 3vh"></i>Resume</a
      >
    </div>
    <div class="prefernce">
      <h3 style="text-align: center; color: white;">Preferences</h3>
      <form style="padding: 0 1vh" method="post" , action="{% url 'apply'%}">
        {% csrf_token %}
        <div class="input-group" style="flex-direction: column">
          <label style="text-align: center">Prefernce 1</label>
          <input
            type="text"
            id="pref1"
            name="pref1"
            style="
              border: 1px solid purple;
              background: white;
              color: puple;
              border-radius: 0.5vh;
            "
          />
          <br />
          <label style="text-align: center">Prefrence 2</label>
          <input
            type="text"
            id="pref2"
            name="pref2"
            class="pref-side"
            style="
              border: 1px solid purple;
              background: white;
              color: puple;
              border-radius: 0.5vh;
            "
          />

          <br />
          <label style="text-align: center">Prefrence 3</label>
          <input
            type="text"
            id="pref3"
            name="pref3"
            class="pref-side"
            style="
              border: 1px solid purple;
              background: white;
              color: puple;
              border-radius: 0.5vh;
            "
          />

          <div style="display: flex; justify-content: center">
            <button type="submit" class="apply-btn" style="margin-top: 4vh">
              Apply
            </button>
          </div>
        </div>
      </form>
    </div>

    <div class="logout">
      <button class="logout-btn">
        <a href="/logout">
          <i
            class="fa fa-sign-out"
            aria-hidden="true"
            style="margin-right: 1vh"
          ></i
          >Logout</a
        >
      </button>
    </div>
  </div>
  <a href="javascript:void(0);" class="icon" onclick="dashMobile()">
    <i class="fa fa-bars"></i>
  </a>

  <div class="iaf-content">
    <div class="nav">
      <div class="name tab">Profectus</div>
    </div>

    <div class="iaf-lower-content">
      <div class="card-container">
        <div class="flip-card">
          <img
            src="{% static 'images/dashboard/Peta.png' %}"
            alt="Avatar"
            style="width: 250px; height: 250px"
          />
          <div class="title-inner">Card Title</div>
          <button
            type="button"
            class="bt same"
            data-bs-toggle="modal"
            data-bs-target="#card1"
          >
            Details
          </button>
          <select
            name="location_one"
            id="location_one"
            onchange="copyTextValue(id ,'c1')"
            class="pref-select same"
          >
            <option value="">Prefernce</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
          </select>
        </div>

        <div class="modal" id="card1">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <!-- Modal Header -->
              <div class="modal-header">
                <h4 class="modal-title">Company Name</h4>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                ></button>
              </div>

              <!-- Modal body -->
              <div class="modal-body">
                <h2>Job Discription:</h2>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi
                  hic, ut recusandae dolorum quaerat eligendi quidem minus harum
                  ipsum in quos eveniet assumenda? Illum quasi enim architecto
                  earum delectus odio doloribus fuga, ullam saepe, sapiente
                  officiis hic quo, fugiat voluptatem. At tempora laboriosam
                  architecto est ad officiis reiciendis, totam molestiae ducimus
                  dolorum dicta repellat maiores eius impedit saepe animi velit
                  dolore inventore exercitationem sapiente eveniet nobis
                  similique ratione necessitatibus. Dolores quasi excepturi
                  laboriosam earum illum nam eligendi alias enim pariatur
                  perferendis, officia iusto debitis repellat fuga sint, odio at
                  atque iure, nisi molestiae accusantium animi. Ab in veritatis
                  deserunt incidunt.
                </p>
              </div>

              <!-- Modal footer -->
              <!-- <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div> -->
            </div>
          </div>
        </div>

        <div class="flip-card">
          <img
            src="{% static 'images/dashboard/Peta.png' %}"
            alt="Avatar"
            style="width: 250px; height: 250px"
          />
          <div class="title-inner">Card Title</div>
          <button
            type="button"
            class="bt same"
            data-bs-toggle="modal"
            data-bs-target="#card2"
          >
            Details
          </button>
          <select
            name="location_two"
            id="location_two"
            onchange="copyTextValue(id ,'c2')"
            class="pref-select same"
          >
            <option value="">Prefernce</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
          </select>
        </div>

        <div class="modal" id="card2">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <!-- Modal Header -->
              <div class="modal-header">
                <h4 class="modal-title">Company Name</h4>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                ></button>
              </div>

              <!-- Modal body -->
              <div class="modal-body">
                <h2>Job Discription:</h2>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi
                  hic, ut recusandae dolorum quaerat eligendi quidem minus harum
                  ipsum in quos eveniet assumenda? Illum quasi enim architecto
                  earum delectus odio doloribus fuga, ullam saepe, sapiente
                  officiis hic quo, fugiat voluptatem. At tempora laboriosam
                  architecto est ad officiis reiciendis, totam molestiae ducimus
                  dolorum dicta repellat maiores eius impedit saepe animi velit
                  dolore inventore exercitationem sapiente eveniet nobis
                  similique ratione necessitatibus. Dolores quasi excepturi
                  laboriosam earum illum nam eligendi alias enim pariatur
                  perferendis, officia iusto debitis repellat fuga sint, odio at
                  atque iure, nisi molestiae accusantium animi. Ab in veritatis
                  deserunt incidunt.
                </p>
              </div>

              <!-- Modal footer -->
              <!-- <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div> -->
            </div>
          </div>
        </div>

        <div class="flip-card">
          <img
            src="{% static 'images/dashboard/Peta.png' %}"
            alt="Avatar"
            style="width: 250px; height: 250px"
          />
          <div class="title-inner">Card Title</div>
          <button
            type="button"
            class="bt same"
            data-bs-toggle="modal"
            data-bs-target="#card3"
          >
            Details
          </button>
          <select
            name="location_three"
            id="location_three"
            onchange="copyTextValue(id ,'c3')"
            class="pref-select same"
          >
            <option value="">Prefernce</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
          </select>
        </div>

        <div class="modal" id="card3">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <!-- Modal Header -->
              <div class="modal-header">
                <h4 class="modal-title">Company Name</h4>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                ></button>
              </div>

              <!-- Modal body -->
              <div class="modal-body">
                <h2>Job Discription:</h2>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi
                  hic, ut recusandae dolorum quaerat eligendi quidem minus harum
                  ipsum in quos eveniet assumenda? Illum quasi enim architecto
                  earum delectus odio doloribus fuga, ullam saepe, sapiente
                  officiis hic quo, fugiat voluptatem. At tempora laboriosam
                  architecto est ad officiis reiciendis, totam molestiae ducimus
                  dolorum dicta repellat maiores eius impedit saepe animi velit
                  dolore inventore exercitationem sapiente eveniet nobis
                  similique ratione necessitatibus. Dolores quasi excepturi
                  laboriosam earum illum nam eligendi alias enim pariatur
                  perferendis, officia iusto debitis repellat fuga sint, odio at
                  atque iure, nisi molestiae accusantium animi. Ab in veritatis
                  deserunt incidunt.
                </p>
              </div>

              <!-- Modal footer -->
              <!-- <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div> -->
            </div>
          </div>
        </div>

        <!-- row 2 -->

        <div class="flip-card">
          <img
            src="{% static 'images/dashboard/Peta.png' %}"
            alt="Avatar"
            style="width: 250px; height: 250px"
          />
          <div class="title-inner">Card Title</div>
          <button
            type="button"
            class="bt same"
            data-bs-toggle="modal"
            data-bs-target="#card4"
          >
            Details
          </button>
          <select
            name="location_four"
            id="location_four"
            onchange="copyTextValue(id ,'c4')"
            class="pref-select same"
          >
            <option value="">Prefernce</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
          </select>
        </div>

        <div class="modal" id="card4">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <!-- Modal Header -->
              <div class="modal-header">
                <h4 class="modal-title">Company Name</h4>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                ></button>
              </div>

              <!-- Modal body -->
              <div class="modal-body">
                <h2>Job Discription:</h2>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi
                  hic, ut recusandae dolorum quaerat eligendi quidem minus harum
                  ipsum in quos eveniet assumenda? Illum quasi enim architecto
                  earum delectus odio doloribus fuga, ullam saepe, sapiente
                  officiis hic quo, fugiat voluptatem. At tempora laboriosam
                  architecto est ad officiis reiciendis, totam molestiae ducimus
                  dolorum dicta repellat maiores eius impedit saepe animi velit
                  dolore inventore exercitationem sapiente eveniet nobis
                  similique ratione necessitatibus. Dolores quasi excepturi
                  laboriosam earum illum nam eligendi alias enim pariatur
                  perferendis, officia iusto debitis repellat fuga sint, odio at
                  atque iure, nisi molestiae accusantium animi. Ab in veritatis
                  deserunt incidunt.
                </p>
              </div>

              <!-- Modal footer -->
              <!-- <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div> -->
            </div>
          </div>
        </div>

        <div class="flip-card">
          <img
            src="{% static 'images/dashboard/Peta.png' %}"
            alt="Avatar"
            style="width: 250px; height: 250px"
          />
          <div class="title-inner">Card Title</div>
          <button
            type="button"
            class="bt same"
            data-bs-toggle="modal"
            data-bs-target="#card5"
          >
            Details
          </button>
          <select
            name="location_five"
            id="location_five"
            onchange="copyTextValue(id ,'c5')"
            class="pref-select same"
          >
            <option value="">Prefernce</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
          </select>
        </div>

        <div class="modal" id="card5">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <!-- Modal Header -->
              <div class="modal-header">
                <h4 class="modal-title">Company Name</h4>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                ></button>
              </div>

              <!-- Modal body -->
              <div class="modal-body">
                <h2>Job Discription:</h2>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi
                  hic, ut recusandae dolorum quaerat eligendi quidem minus harum
                  ipsum in quos eveniet assumenda? Illum quasi enim architecto
                  earum delectus odio doloribus fuga, ullam saepe, sapiente
                  officiis hic quo, fugiat voluptatem. At tempora laboriosam
                  architecto est ad officiis reiciendis, totam molestiae ducimus
                  dolorum dicta repellat maiores eius impedit saepe animi velit
                  dolore inventore exercitationem sapiente eveniet nobis
                  similique ratione necessitatibus. Dolores quasi excepturi
                  laboriosam earum illum nam eligendi alias enim pariatur
                  perferendis, officia iusto debitis repellat fuga sint, odio at
                  atque iure, nisi molestiae accusantium animi. Ab in veritatis
                  deserunt incidunt.
                </p>
              </div>

              <!-- Modal footer -->
              <!-- <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div> -->
            </div>
          </div>
        </div>

        <div class="flip-card">
          <img
            src="{% static 'images/dashboard/Peta.png' %}"
            alt="Avatar"
            style="width: 250px; height: 250px"
          />
          <div class="title-inner">Card Title</div>
          <button
            type="button"
            class="bt same"
            data-bs-toggle="modal"
            data-bs-target="#card6"
          >
            Details
          </button>
          <select
            name="location_six"
            id="location_six"
            onchange="copyTextValue(id ,'c6')"
            class="pref-select same"
          >
            <option value="">Prefernce</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
          </select>
        </div>

        <div class="modal" id="card6">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <!-- Modal Header -->
              <div class="modal-header">
                <h4 class="modal-title">Company Name</h4>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                ></button>
              </div>

              <!-- Modal body -->
              <div class="modal-body">
                <h2>Job Discription:</h2>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi
                  hic, ut recusandae dolorum quaerat eligendi quidem minus harum
                  ipsum in quos eveniet assumenda? Illum quasi enim architecto
                  earum delectus odio doloribus fuga, ullam saepe, sapiente
                  officiis hic quo, fugiat voluptatem. At tempora laboriosam
                  architecto est ad officiis reiciendis, totam molestiae ducimus
                  dolorum dicta repellat maiores eius impedit saepe animi velit
                  dolore inventore exercitationem sapiente eveniet nobis
                  similique ratione necessitatibus. Dolores quasi excepturi
                  laboriosam earum illum nam eligendi alias enim pariatur
                  perferendis, officia iusto debitis repellat fuga sint, odio at
                  atque iure, nisi molestiae accusantium animi. Ab in veritatis
                  deserunt incidunt.
                </p>
              </div>

              <!-- Modal footer -->
              <!-- <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $('select[name*="location"]').change(function () {
    var selectedOptions = $("select option:selected");
    $("select option").removeAttr("disabled");
    selectedOptions.each(function () {
      var value = this.value;
      if (value !== "") {
        var id = $(this).parent('select[name*="location"]').attr("id");
        var options = $("select:not(#" + id + ") option[value=" + value + "]");
        options.attr("disabled", "true");
      }
    });
  });

  function copyTextValue(x, y) {
    var text1 = y;
    var text2 = document.getElementById(x);
    var text3 = text2.options[text2.selectedIndex].text;
    if (text3 == "1") {
      document.getElementById("pref1").value = text1;
    } else {
      if (text3 == "2") {
        document.getElementById("pref2").value = text1;
      } else {
        document.getElementById("pref3").value = text1;
      }
    }
  }

  function dashMobile() {
    var x = document.getElementById("myPref");
    if (x.style.display === "block") {
      x.style.display = "none";
    } else {
      x.style.display = "block";
    }
  }

  
</script>

<script src="{% static 'js/script.js' %}"></script>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
  crossorigin="anonymous"
></script>

{%else%}
<div class="main-container">
  <div class="land-container-1">
    <img src="{% static 'images/homepage/Layer_2.png' %}" id="layer2" alt="" />
    <a href="https://www.abhyudayiitb.org/"
      ><img src="{% static 'images/homepage/logo.png' %}" id="logo" alt=""
    /></a>
    <div class="new-nav" id="myLinks">
      <ul>
        <li>Home</li>
        <li>
          <a href="#about" style="text-decoration: none; color: white">About</a>
        </li>
        <li>
          <a href="#testimonial" style="text-decoration: none; color: white"
            >Testimonials</a
          >
        </li>
        <li>
          <a href="#contact" style="text-decoration: none; color: white"
            >Contact
          </a>
        </li>
      </ul>
    </div>
    <a href="javascript:void(0);" class="icon" onclick="hamMobile()">
      <i class="fa fa-bars"></i>
    </a>

    <div class="title">PROFECTUS</div>
    <div class="sub-title">FELLOWSHIP PROGRAM OF ABHYUDAY</div>

    <button class="regbtn"><a href="/signup">Register</a></button>
  </div>
  <div class="land-container-2" id="about">
    <div class="about-profectus">
      <div class="heading">About Profectus</div>
      <div class="discription">
        As they say, <br />
        “The most practical, beautiful, workable philosophy in the world won't
        work- if you won't”, Abhyuday IIT Bombay provides the young generation
        an opportunity to get involved in social work through fellowship
        program, PROFECTUS. Register for summer internship opprtunities in the
        social sector.The interview process will begin after end semester and
        all final selections will be done before 28th June.
      </div>
    </div>
    <div class="about-fellowship">
      <div id="fellow-heading">About Fellowship Program</div>
      <div id="fellow-discription">
        The fellowship program of Abhyuday which gives youth the opportunity to
        engage themselves in social work by working with NGOs, social startups
        and alumni of IIT Bombay working in this field. Fellowships focuses on
        providing an insight into various sectors in the field of social work
        whilst providing a valuable output for the society. The work students do
        in their fellowships ranges hugely. It includes communication, impact
        analysis, fundraising, planning and organizing support groups, work with
        coalition groups, help with grant writing and other profiles which are
        important in socially impactful organisation. Fellows work under the
        direct supervision of professional social workers or social leaders who
        have extensive experience in the field.
      </div>
    </div>
  </div>

  <div class="testimonial" id="testimonial">
    <h1
      style="text-align: center; margin-top: 4vh; margin-bottom: 2vh"
      id="testi"
    >
      Testimonials
    </h1>
    <div
      id="carouselExample"
      class="carousel carousel-dark slide"
      data-bs-ride="carousel"
    >
      <ol class="carousel-indicators" style="bottom: -7vh">
        <li
          data-bs-target="#carouselExample"
          data-bs-slide-to="0"
          class="active"
        ></li>
        <li data-bs-target="#carouselExample" data-bs-slide-to="1"></li>
        <li data-bs-target="#carouselExample" data-bs-slide-to="2"></li>
        <li data-bs-target="#carouselExample" data-bs-slide-to="3"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row custom">
            <div class="custom-col">
              <div class="test"></div>
              <div class="test"></div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row">
            <div class="custom-col">
              <div class="test"></div>
              <div class="test"></div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row">
            <div class="custom-col">
              <div class="test"></div>
              <div class="test"></div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row">
            <div class="custom-col">
              <div class="test"></div>
              <div class="test"></div>
            </div>
          </div>
        </div>
      </div>
      <a
        class="carousel-control-prev"
        href="#carouselExample"
        role="button"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </a>
      <a
        class="carousel-control-next"
        href="#carouselExample"
        role="button"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </a>
    </div>
  </div>

  <div class="footer" id="contact">
    <div id="contact-land">Contact Us</div>
    <div class="managers">
      <div class="manage-inner">
        <div>Achira Jain</div>
        <div class="department">Competitions Manager</div>
      </div>
      <div class="manage-inner">
        <div>Satyan Reddy</div>
        <div class="department">Events and Fellowships Manager</div>
      </div>
    </div>
  </div>
</div>

<script>
  function hamMobile() {
    var x = document.getElementById("myLinks");
    if (x.style.display === "block") {
      x.style.display = "none";
    } else {
      x.style.display = "block";
    }
  }

  
</script>

{% endif %} {% endblock content %}
