
{% extends 'authentication/base.html' %}
{% block content %}

{% for message in messages%}
<div class="alert alert-warning alert-dismissible fade show" role="alert" style="margin:0">
  <strong>Opps!</strong> {{message}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

{% endfor %}


{% if user.is_authenticated%}
{% comment %} <h3>hello {{name}}</h3>
<h4>You're successfully logged in</h4> {% endcomment %}



<div class="prof-container">
  <div class="sidenav">
    <ul>
      <li><a href="">Home</a> </li>
      <li><a href="/resume/upload">Resume</a> </li>
    </ul>
  </div>

  <div class="iaf-content">
    <div class="nav">
      <div class="name">Profectus</div>
      <div class="logout">
        <button class="btn-outline-success"><a href="/logout"> Logout</a></button>
      </div>
    </div>
    <table class="table table-dark table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Company Name</th>
          <th scope="col">IAF</th>
          <th scope="col">Closes on</th>
          <th scope="col">Details</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>C1</td>
          <td>I1</td>
          <td>8/6/22</td>
          <td><button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#myModal1" >SignIn</button>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>C2</td>
          <td>I2</td>
          <td>8/6/22</td>
          <td> <button class="btn btn-outline-success" >SignIn</button></td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>C3</td>
          <td>I3</td>
          <td>8/6/22</td>
          <td> <button class="btn btn-outline-success">SignIn</button></td>
        </tr>
      </tbody>
    </table>

  </div>
</div>



 <div class="modal" id="myModal1">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">C1</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellendus, error numquam? Voluptatem consectetur iste nihil distinctio eos voluptas itaque excepturi corporis? Illum corporis, commodi repudiandae sequi quo consequatur, ipsa inventore ipsam reprehenderit praesentium tempore quasi ratione, doloremque repellendus minima quidem eos et! Aliquam optio eos itaque ipsam cumque. Obcaecati, ipsam!

          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Suscipit velit et, neque debitis odio commodi blanditiis tempore sapiente id aut dolore! Quis autem, possimus fugiat reiciendis hic eaque. Sint nemo nostrum numquam voluptates consequuntur porro laborum deserunt pariatur reprehenderit soluta corporis id nesciunt aspernatur, error reiciendis molestias explicabo quasi sapiente?
        
            <br>
          <p>Upload Your Resume Here</p>
          <div class="container mt-5">
        </div>
          <div class="container mt-5">
          <a href="/apply"><button type="submit" class="btn btn-primary">Apply</button></a>  
         
        </div>
            
        
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
        </div>
  
      </div>
    </div>
  </div>
  

<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

<!-- Option 2: Separate Popper and Bootstrap JS -->
<!--
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
-->



{%else%}
<div class="main-container">
  <div class="land-container-1">

  </div>
  <div class="land-container-2">
      <button><a href="/signup">Register</a></button>
    
  </div>
  <div class="testimonial">

  </div>
  <div class="faq">

  </div>
  <div class="footer">

  </div>
</div>
{% endif %}
{% endblock content %}
{% comment %} </body>
</html> {% endcomment %}